.logo {
width: 65px;
}

.login-form {
max-width: 400px;
margin: 0 auto;
text-align: left;
}

.header-block {
margin-bottom: 100px;
}

.alert-error {
--bs-alert-color: #b02a37;
--bs-alert-bg: #f8d7da;
--bs-alert-border-color: #f1aeb5;
--bs-alert-link-color: #b02a37;
}

form small.error {
color: red !important;
}

#search-form {
display: flex;
}
#search-form #div_id_search {
display: flex;
width: 100%;
}
#search-form button {
display: flex;
}