{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="text-center">
  <h1>Сотрудники</h1>
</div>
<div class="employees-list">
  <table class="table table-success table-striped my-3">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Телефон</th>
        <th scope="col">Офис</th>
        <th scope="col">Город</th>
        <th scope="col">Логин</th>
      </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
      <tr>
        <th>{{ employee.name }}</th>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.office }}</td>
        <td>{{ employee.office.city }}</td>
        <td>{{ employee.username }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}