{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="text-center">
  <h1>{{ title }}</h1>
  <h6>{{ template }}</h6>
</div>
<div class="user-office-block">
  <div class="user-info">
    <div clss="user-name">{{ user.first_name }} {{ user.last_name }}</div>
    <div class="user-office">{{ user.office.name }}</div>
  </div>
  <div class="office-balance">
    <div class="balance">Баланс: </div>
  </div>
</div>
<div class="routes">
  <div class="routes_list my-3">
  {% for route in routes %}
    <button type="button" class="btn btn-primary btn-sm" id="{{ route.from_city.id }}to{{ route.to_city.id }}">{{ route.name }}</button>
  {% endfor %}
  </div>
  <a type="button" class="btn btn-primary new-parcel-button">Новая посылка</a>

</div>

{% endblock %}